<nav class="sidebar bg-dark p-3">
  <h5 class="text-white mb-3">Learn DSA</h5>

  <ul class="nav nav-pills flex-column gap-1">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/en/computational-complexity">Computational Complexity</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/en/arrays">Arrays</a>
      </li>

      <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#menuLinkedLists" role="button" aria-expanded="false">
        Linked Lists
      </a>
      <div class="collapse ps-3" id="menuLinkedLists">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/en/linked-lists-intro">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en/singly-linked-lists">Singly Linked Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en/doubly-linked-lists">Doubly Linked Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en/circular-linked-lists">Circular Linked Lists</a>
            </li>
          </ul>
      </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/en/stack">Stack</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/en/queue">Queue</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/en/hash-table">Hash Table</a>
      </li>
  </ul>
</nav>
