<nav class="sidebar bg-dark p-3">
  <h5 class="text-white mb-3">Learn DSA</h5>

  <ul class="nav nav-pills flex-column gap-1">

      <li class="nav-item">
        <a class="nav-link" href="/index-pt">Início</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/computational-complexity">Complexidade Computacional</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/arrays">Arrays</a>
      </li>

      <!--
      <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#menuComputationalComplexity" role="button" aria-expanded="false">
        Complexidade Computacional
      </a>
      <div class="collapse ps-3" id="menuComputationalComplexity">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/pt/computational-complexity">Complexidade Computacional</a>
            </li>
          </ul>
      </div>
      </li>

      <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#menuArrays" role="button" aria-expanded="false">
        Arrays
      </a>
      <div class="collapse ps-3" id="menuArrays">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/pt/arrays">Arrays</a>
            </li>
          </ul>
      </div>
      </li>
      -->
  </ul>
</nav>
