<nav class="sidebar bg-dark p-3">
  <h5 class="text-white mb-3">Learn DSA</h5>

  <ul class="nav nav-pills flex-column gap-1">

      <li class="nav-item">
        <a class="nav-link" href="/index-pt">Início</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/computational-complexity">Complexidade Computacional</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/arrays">Arrays</a>
      </li>

      
      <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#menuLinkedLists" role="button" aria-expanded="false">
        Listas Ligadas
      </a>
      <div class="collapse ps-3" id="menuLinkedLists">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/pt/linked-lists-intro">Listas Ligadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pt/singly-linked-lists">Listas Ligadas Simples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pt/doubly-linked-lists">Listas Ligadas Duplas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pt/circular-linked-lists">Listas Ligadas Circulares</a>
            </li>
          </ul>
      </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/stack">Stack</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pt/queue">Queue</a>
      </li>
  </ul>
</nav>
