<!DOCTYPE html>
<html>
  <head>
    <title>Learn DSA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('partials/head') %>
  </head>
  <body>

    <div class="d-flex">
      <%- include('partials/sidebar-pt') %>

      <main class="flex-fill p-4">
        <h1>Learn DSA</h1>
        <p>Bem-vindo!</p>

        <a href="/" class="btn btn-success">Switch to English</a>
      </main>
    </div>
  </body>
</html>
